<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <title>Dashboard</title>
</head>
<body>
  <div class="header">
    <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='#'>About</a></li>
        <li><a href='/registration'>Register</a></li>
        <img src='../static/img/LogoMakr_5BU9Sh.png'>
        <li><a href='workout_log'>Workout Log</a></li>
        <li><a href='#'>Contact Us</a></li>
        <li><a href='/login'>Log In</a></li>
    </ul>
</div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Fluid jumbotron</h1>
          <p class="lead">Hi , Welcome to the Fit Tracker App!</p>
        </div>
    </div>
    <!-- main body space -->
    <div class='container'>
      <div class="row">
        <h3>Welcome Back (first_name)!</h3>
      </div>
      <!-- suggested workout -->
      <div class='row' name='suggested'>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="../static/img/suggested_1.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Today's Suggested Workout</h5>
                <p class="card-text">Check out this workout picked by our fitness specialists.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- find a gym -->
      <div class="row" name='find_gym'>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="../static/img/find_a_gym.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Find your new gym</h5>
                <p class="card-text">Search for a great gym near you.</p>
               </div>
            </div>
          </div>
        </div> 
      </div>
      <!-- log workouts -->
      <div class="row" name='log_workout'>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="../static/img/workout_log.png" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Workout Log</h5>
                <p class="card-text">Log all your workouts here.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- find a workout buddy -->
      <div class="row" name='workout_buddy'>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="../static/img/workout_buddy.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Find a workout buddy</h5>
                <p class="card-text">Finding a gym partner can be hard. Let us make it easier for you.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


</body>
</html>