<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../static/style.css'>
    <title>Getting Fit Tracker</title>
</head>
<body id='home'>
    <div>

    
    <div class="header">
        <ul>
            <li><a href='#'>Home</a></li>
            <li><a href='#'>About</a></li>
            <li><a href='/registration'>Register</a></li>
            <img src='../static/img/LogoMakr_5BU9Sh.png'>
            <li><a href='/workout_log'>Workout Log</a></li>
            <li><a href='#'>Contact Us</a></li>
            <li><a href='/login'>Log In</a></li>
        </ul>
    </div>
    <div class='section-1 box'>
        <h1>Getting Fit Tracker. Your Fitness Tracking Companion.</h1>
    </div>
    <div class='section-2 box'>
        <h1>Welcome to the Getting Fit Tracker!</h1>
        <p>This app was designed for anyone following a path to fitness success. With the fight to stay safe and healthy on the minds of many, keeping track of your workouts has become more important than before.</p>
    </div>

    <div class="section-3 box">
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
    </div>
    <div class="section-4 box">
        <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam, iusto dolores. Quo similique quibusdam voluptate quas aperiam corporis suscipit fugiat officiis quae minima sapiente commodi blanditiis ducimus, facilis tenetur porro.</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione nobis labore ullam delectus dolore voluptates perspiciatis, repellendus ea vero error ipsam veniam eius cupiditate molestias sit. Sint dignissimos porro reprehenderit?</p>
    </div>
</div>
</body>
</html>