<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../static/style.css'>
    <title>Document</title>
</head>
<body>
    <div class='section-1 box'>
        <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h1>
    </div>
    <div class='section-2 box'>
        <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur rem nihil architecto iusto odit deserunt doloremque optio, a voluptatem at, aliquam deleniti dolore accusamus eos rerum soluta aspernatur mollitia corporis.</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto corrupti consequuntur fugiat fugit non minima aliquam perferendis maxime. Corporis unde similique iusto quaerat architecto asperiores eveniet explicabo modi nobis a?</p>
    </div>

    <div class="section-3 box">
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
    </div>
    <div class="section-4 box">
        <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam, iusto dolores. Quo similique quibusdam voluptate quas aperiam corporis suscipit fugiat officiis quae minima sapiente commodi blanditiis ducimus, facilis tenetur porro.</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione nobis labore ullam delectus dolore voluptates perspiciatis, repellendus ea vero error ipsam veniam eius cupiditate molestias sit. Sint dignissimos porro reprehenderit?</p>
    </div>
</body>
</html>