<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Workout Log</title>
</head>
<body>
    <!-- jumbotron block -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Getting Fit Tracker</h1>
          <p class="lead">Log Your Workouts Below</p>
        </div>
    </div>

    
    
    <div class='container-fluid'>
        <div class='row'>
            <div class='col'>
                {% if message %}
                <p class='message'>{{ message | safe }}</p>
                {% endif %} 
<!-- double check that this works -->
                    <form action='/workout_log' method="POST">
                        <!-- workout_type -->
                        <div class="form-row">
                            <div class="form-group col-lg-4">
                                <label for="workout_type">Workout Type</label>
                                <select name='workout_type' class="custom-select mr-sm-2" id="workout_type">
                                    <option selected>Choose...</option>
                                    <option value="Cardio">Cardio</option>
                                    <option value="Interval">HIIT/Interval</option>
                                    <option value="Aquatics">Aquatics</option>
                                    <option value="Strength">Strength Training</option>
                                </select>
                            </div>
                        </div>
                        <!-- workout_length -->
                        <div class="form-row">
                            <div class="form-group col-lg-4">
                                <label for="workout_length">Workout Length (in minutes)</label>
                                <input type="text" name='workout_length' class="form-control" id="workout_length" placeholder="How long was your workout?">
                            </div>
                        </div>
                        <!-- item -->
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="item">Describe your workout</label>
                                <input type="text" name='item' class="form-control" id="item" placeholder="What was your workout?">
                            </div>
                        </div>
                        <!-- submit -->
                        <div class="form-group col-sm-2">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
            </div>
            <div class='col-md'>
                
            </div>
        </div>
       
    </div>
    
</body>
</html>